.masterWrapper {
	[class*="MuiPickersToolbar-root"], [class*="MuiDialogActions-root"] {
		display: none;
	}

	[class*="MuiDayCalendar-monthContainer"] [class*="MuiButtonBase-root"]:not([class*="Mui-disabled"]) {
		background-color: #0093E940;

		&[class*="Mui-selected"] {
			background-color: #0093E9;
		}
	}
}
